https://127.0.0.1.nip.io {
	tls internal

	reverse_proxy nauthilus:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
		header_up X-SSL on
	}
}

https://ui.127.0.0.1.nip.io {
	tls internal

	reverse_proxy app:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
		header_up X-SSL on
	}
}
